 {% extends 'index.html' %} {% block content %} {% load static %}

<!-- ======= About Section ======= -->
<section id="about" class="about">

    <div class="container" data-aos="fade-up">
        <div class="row">

            <div class="col-lg-5 col-md-6">
                <div class="about-img" data-aos="fade-right" data-aos-delay="100">
                    <img src="{{about.0.image.url}}" alt="">
                </div>
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                    <h2>About Us</h2>
                    <h2>{{about.0.name}}</h2>
                    <p>{{about.0.description}}</p>
                    <ul>
                        <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End About Section -->


{% endblock content %}