{% extends "index.html" %} {% block content %} {% load static %}


<!-- ======= Clients Section ======= -->
<section id="clients " class="clients ">
    <div class="container " data-aos="zoom-in ">

        <header class="section-header ">
            <h3>Our Clients</h3>
        </header>
        <div class="owl-carousel clients-carousel">
            {% for clnt in about %}
            <div>
                <a href="{{clnt.image}}" target="_black">
                    <div class="client-logo">
                        <img src="{{clnt.image.url}}" class="img-fluid" alt=" ">
                        <h6>{{clnt.name}}</h6>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
<!-- End Clients Section -->
{% endblock content %}