 {% extends 'index.html' %} {% block content %} {% load static %}



<!-- ======= Portfolio Section ======= -->
<section id="portfolio " class="portfolio section-bg ">
    <div class="container " data-aos="fade-up ">

        <header class="section-header ">
            <h3 class="section-title ">Our Portfolio</h3>
        </header>

        <div class="row " data-aos="fade-up " data-aos-delay="100 ">
            <div class="col-lg-12 ">
                <ul id="portfolio-flters ">
                    <li data-filter="* " class="filter-active ">All</li>
                    <li data-filter=".filter-app ">App</li>
                    <li data-filter=".filter-card ">Card</li>
                    <li data-filter=".filter-web ">Web</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container " data-aos="fade-up " data-aos-delay="200 ">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app ">
                <div class="portfolio-wrap ">
                    <img src="{{about.0.image.url}} " class="img-fluid " alt=" " style="height:300px;widht:300px;">
                    <div class="portfolio-info " <h2>{{about.0.name}}</h2>
                        <div>
                            <a href="{% static 'img/portfolio/app1.jpg' %} " data-gall="portfolioGallery " title="App 1 " class="link-preview venobox "><i class="ion ion-eye "></i></a>
                            <a href="portfolio-details.html " class="link-details " title="More Details "><i class="ion ion-android-open "></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web " data-wow-delay="0.1s ">
                <div class="portfolio-wrap ">
                    <img src="{{about.1.image.url}} " class="img-fluid " alt=" " style="height:300px;widht:300px;">
                    <div class="portfolio-info " <h2>{{about.1.name}}</h2>
                        <p>Web</p>
                        <div>
                            <a href="{% static 'img/portfolio/web3.jpg' %} " class="link-preview venobox " data-gall="portfolioGallery " title="Web 3 "><i class="ion ion-eye "></i></a>
                            <a href="portfolio-details.html " class="link-details " title="More Details "><i class="ion ion-android-open "></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app " data-wow-delay="0.2s ">
                <div class="portfolio-wrap ">
                    <img src="{{about.2.image.url}} " class="img-fluid " alt=" " style="height:300px;widht:300px;">
                    <div class="portfolio-info " <h2>{{about.2.name}}</h2>
                        <p>App</p>
                        <div>
                            <a href="{% static 'img/portfolio/app2.jpg' %} " class="link-preview venobox " data-gall="portfolioGallery " title="App 2 "><i class="ion ion-eye "></i></a>
                            <a href="portfolio-details.html " class="link-details " title="More Details "><i class="ion ion-android-open "></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card ">
                <div class="portfolio-wrap ">
                    <img src="{{about.3.image.url}} " class="img-fluid " alt=" " style="height:300px;widht:300px;">
                    <div class="portfolio-info " <h2>{{about.3.name}}</h2>
                        <p>Card</p>
                        <div>
                            <a href="{% static 'img/portfolio/card2.jpg' %} " class="link-preview venobox " data-gall="portfolioGallery " title="Card 2 "><i class="ion ion-eye "></i></a>
                            <a href="portfolio-details.html " class="link-details " title="More Details "><i class="ion ion-android-open "></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web " data-wow-delay="0.1s ">
                <div class="portfolio-wrap ">
                    <img src="{{about.4.image.url}} " class="img-fluid " alt=" " style="height:300px;widht:300px;">
                    <div class="portfolio-info " <h2>{{about.4.name}}</h2>
                        <p>Web</p>
                        <div>
                            <a href="{% static 'img/portfolio/web2.jpg' %} " class="link-preview venobox " data-gall="portfolioGallery " title="Web 2 "><i class="ion ion-eye "></i></a>
                            <a href="portfolio-details.html " class="link-details " title="More Details "><i class="ion ion-android-open "></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app " data-wow-delay="0.2s ">
                <div class="portfolio-wrap ">
                    <img src="{{about.5.image.url}} " class="img-fluid " alt=" " style="height:300px;widht:300px;">
                    <div class="portfolio-info " <h2>{{about.5.name}}</h2>
                        <p>App</p>
                        <div>
                            <a href="{% static 'img/portfolio/app3.jpg' %} " class="link-preview venobox " data-gall="portfolioGallery " title="App 3 "><i class="ion ion-eye "></i></a>
                            <a href="portfolio-details.html " class="link-details " title="More Details "><i class="ion ion-android-open "></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card ">
                <div class="portfolio-wrap ">
                    <img src="{{about.6.image.url}} " class="img-fluid " alt=" " style="height:300px;widht:300px;">
                    <div class="portfolio-info " <h2>{{about.6.name}}</h2>
                        <p>Card</p>
                        <div>
                            <a href="{% static 'img/portfolio/card1.jpg' %} " class="link-preview venobox " data-gall="portfolioGallery " title="Card 1 "><i class="ion ion-eye "></i></a>
                            <a href="portfolio-details.html " class="link-details " title="More Details "><i class="ion ion-android-open "></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card " data-wow-delay="0.1s ">
                <div class="portfolio-wrap ">
                    <img src="{{about.7.image.url}} " class="img-fluid " alt=" " style="height:300px;widht:300px;">
                    <div class="portfolio-info " <h2>{{about.7.name}}</h2>
                        <p>Card</p>
                        <div>
                            <a href="{% static 'img/portfolio/card3.jpg' %} " class="link-preview venobox " data-gall="portfolioGallery " title="Card 3 "><i class="ion ion-eye "></i></a>
                            <a href="portfolio-details.html " class="link-details " title="More Details "><i class="ion ion-android-open "></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web " data-wow-delay="0.2s ">
                <div class="portfolio-wrap ">
                    <img src="{{about.8.image.url}} " class="img-fluid " alt=" " style="height:300px;widht:300px;">
                    <div class="portfolio-info " <h2>{{about.8.name}}</h2>
                        <p>Web</p>
                        <div>
                            <a href="{% static 'img/portfolio/web1.jpg' %} " class="link-preview venobox " data-gall="portfolioGallery " title="Web 1 "><i class="ion ion-eye "></i></a>
                            <a href="portfolio-details.html " class="link-details " title="More Details "><i class="ion ion-android-open "></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Portfolio Section -->
{% endblock content %}